@use 'breakpoints' as bp;

.product-grid-section__grid {
  display: grid;
  gap: var(--space-4);
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  margin-block-start: var(--space-4);

  @include bp.respond-to('lg') {
    grid-template-columns: repeat(4, 1fr);
  }
}
